* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  flex-wrap: wrap;
}
header {
  display: block;
  width: 100%;
  background: slateblue;
  color: snow;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
header h1,
header h3 {
  font-size: 2rem;
  margin: 1rem 0 0;
}
.colorList {
}

.colorPicker {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.colorPicker input {
  width: 15rem;
  height: 10rem;
  border: none;
}
.colorPicker button {
  padding: 0.5rem;
  color: white;
  border: none;
  font-weight: bold;
  background: rgb(75, 74, 79);
}
.colorPicker h2 {
  margin: 0;
  font-size: 1rem;
  padding: 0.15rem;
}
